@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap");

html {
  font-size: 62.5%;
}

.App {
  font-family: "Roboto Flex", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
