.Temperature {
  margin-top: 3rem;
}

#temperature {
  font-size: 8rem;
  padding-left: 1rem;
}

.units {
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  top: 10px;
  margin-left: 1rem;
}

.units a {
  cursor: pointer;
  color: #ff9cfa;
}
