.WeatherForecast {
  text-align: center;
  font-size: 1.3rem;
  margin-block: 5rem 2rem;
}

.min-temp {
  opacity: 0.6;
  margin-left: 0.5rem;
}

@media screen and (max-width: 767px) {
  .forecast-daily {
    padding: 1rem;
  }
}